.ag-paging-panel {
    display: flex;
    justify-content: flex-start !important; /* Align the pagination to the left */
}

.ag-paging-panel .ag-label {
    display: none !important;  /* Hides page size label */
}

.ag-root-wrapper {
    border-radius: 5px 5px 0 0 !important;
}

.ag-header-cell-label {
    justify-content: center !important;
}